<form action="/" method="POST">
  <div class="container">
    <input type="url" name="url" id="urlInput" placeholder="Input URL here" value="{{originalURL}}" required />
    <div class="short-zone">
      <button class="shorten " type="submit">Short!</button>
      {{#if shortURL}}
      <button type="button" class="clean" onclick="ClearFields()">clean</button>
      {{else}}
      {{/if}}
    </div>
  </div>
</form>

{{#if shortURL}}
<div class=" result">
  <h3>Success! Please use this link:</h3>
  <div class="d-flex">
    <p id="shortUrl" class="col-sm-10">{{origin}}/{{shortURL}}</p>
    <button class="copy col-sm-2" onclick="copy()"><i class="fas fa-copy" </i></i></button>

  </div>

</div>

<script>
  function copy() {
    const URL = document.getElementById("shortUrl")
    navigator.clipboard.writeText(URL.innerText)
      .then(() => alert('copied'))
      .catch(error => console.log(error))
  }
  // not yet 
  function ClearFields() {
    document.getElementById("urlInput").value = "";
  }

</script>
{{else}}

{{/if}}